
<!--
<mat-card class="card"> 
  <mat-card-content class="content">
 <div fxLayout="row" fxLayoutAlign="start center">
  

  

    <div fxFlex="50" class="sec1" fxFlex.xs="55">
     
       <app-bar fxFlex="50%"></app-bar>
    </div>
    <div fxFlex="50" class="sec2">
       <app-pie fxFlex="50%"></app-pie>
    </div>
 

  
</div>

    
  </mat-card-content>
</mat-card>
-->

<mat-card class="card"> 
  <mat-card-content class="content">
<div class="bounds">

  <div class="content" fxLayout="rows" fxLayout.xs="column" fxFlexFill>
<!--fxLayout="row wrap" fxLayoutGap="16px grid"-->
    <div fxFlex="50"  align="center" >
    

       <app-bar height="60vh"></app-bar>
    </div>
    <div fxFlex="50" align="center">
      <app-pie ></app-pie>
    </div>

  </div>

</div>

  </mat-card-content>
</mat-card>