<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <h1 class="example-app-name">@BooksRUs</h1>

  <span class="example-spacer"></span>
  <button  mat-icon-button aria-label="Button to go Home" routerLink="/">
         <mat-icon>home</mat-icon>
        </button>
   <button mat-button aria-label="Button to go to Analytics Dashboard" routerLink="/analytics">
          Analytics
        </button>

    <button  mat-icon-button aria-label="Menu button with a menu icon">
         <mat-icon>bookmarks</mat-icon>{{bookmarkCount | async}}
        </button> 

          
  </mat-toolbar>

</div>

