<form [formGroup]="addressForm" class="content">
  <mat-card class="card" *ngIf="book">

    <mat-card-header>
        <mat-card-title>{{book.name}}</mat-card-title>
  
    </mat-card-header>

    <mat-card-content>
     <iframe width="100%" height="100%"></iframe>
    </mat-card-content>
    <mat-card-actions>
     
     <button class="align" color="primary"(click)="addBookMark()"
     mat-raised-button aria-label="button with a bookmark icon">
         Book Mark
    </button> 
          <a mat-raised-button color="primary" routerLink="/layout">
        Go Back</a>

    </mat-card-actions>
  </mat-card>
</form>
