.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.content{
  margin-top: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.card {
  position: absolute;
  top: 20px;
  left: 8px;
  right: 8px;
  bottom: 15px;
  height: 100%;
}
.mat-card-header{
 text-align: right;
}